[flake8]
max-line-length = 88
extend-ignore = E203, W503, E501, F401, F841, C901, E722, F541, E402, W391
exclude =
    .git,
    __pycache__,
    old,
    build,
    dist,
    venv,
    fvenv,
    .nox,
    .pytest_cache
max-complexity = 15
